@import "../../../styles/variables";

:host {
	position: absolute;
	display: flex;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $white-transparent-90;
	z-index: z-index($list, loader);
}

.text-under {
	margin-top: rem(10);
	color: $orange-dark;
}

.loader-icon {
	width: rem(90);
	height: rem(90);
}
