@import "../../styles/variables";

:host {
	width: 100%;

	@include device(tablet-up) {
		width: 50%;
	}
}

.player-cards {
	position: relative;
	padding: rem(10);

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: z-index($list, layer);
	}
}
