/* *
 * ROOT FONT SIZE
 */
$px-root: 16px;

/* *
 * FONT WEIGHT
 */
$font-weight-300: 300;

/* *
* TEXT:
*/
$text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

/* *
* COLORS
*/
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$white-transparent-90: transparentize($white, 0.1);
$purple: rgb(103, 58, 183);
$orange-dark: rgb(244, 67, 54);

/* *
* TRANSITION:
*/
$card-transition: 0.6s;
$transform-180: rotateY(180deg);

/* *
  * PX TO REM CALCULATOR
  */
@function parseInt($n) {
	@return $n / ($n * 0 + 1);
}

@function rem($values) {
	$rem: ();

	@each $value in $values {
		$value: if($value != 0, $value / parseInt($px-root) + rem, 0);
		$rem: append($rem, ($value));
	}

	@return $rem;
}

/* *
* BORDERS:
*/
$border-radius-small: rem(4);
$border-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

/* *
  * Z-index
  */
// List of core elements used in project
$list: basic, layer, loader;

// Return z-index of element from list, return null if there is no element
@function z-index($list, $element) {
	$z-index: index($list, $element);

	@if $z-index {
		@return $z-index;
	}

	@return null;
}

/* *
  * RWD
  */
$rwd-break-small: 700px;

/* *
  * MEDIA QUERIES FOR DEVICES
  */
@mixin tablet-up {
	@media only screen and (min-width: #{$rwd-break-small}) {
		@content;
	}
}

@mixin device($devices) {
	@each $device in $devices {
		@if $device == "tablet-up" {
			@include tablet-up {
				@content;
			}
		}
	}
}
