<h1>{{ title }}</h1>

<button *ngIf="!choosenBattle; else choosenResource" class="select-battle" mat-raised-button (click)="openDialog()">
    Choose sources
</button>

<ng-template #choosenResource>

    <div>{{ choosenBattle }}</div>

    <div class="game-container">
        <app-game [isLoading]="isLoading">
            <app-player playerOne [player]="'Player One'" [cards]="playerOneCards" [battleType]="choosenBattle"
                (clicked)="getCards($event)">
            </app-player>
            <app-player playerTwo [player]="'Player Two'" [cards]="playerTwoCards" [battleType]="choosenBattle"
                (clicked)="getCards($event)">
            </app-player>
        </app-game>
    </div>

</ng-template>